In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import warnings
import pickle
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("output.csv")

In [4]:
df

,Unnamed: 0,neighbourhood_group,room_type,price,minimum_nights,calculated_host_listings_count,availability_365
0,0,2,2,149,1,6,365
1,1,1,3,225,1,2,355
2,2,1,2,150,3,1,365
3,3,2,3,89,1,1,194
4,4,1,3,80,10,1,0
...,...,...,...,...,...,...,...
48879,48890,2,2,70,2,2,9
48880,48891,2,2,40,4,2,36
48881,48892,1,3,115,10,1,27
48882,48893,1,1,55,1,6,2
48883,48894,1,2,90,7,1,23

In [5]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
X = df.drop(['price'],axis=1)
y = df['price']

In [7]:
y = y.astype('int')
X = X.astype('int')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [9]:
log_reg = LinearRegression()
log_reg.fit(X_train, y_train)

LinearRegression()

In [10]:
X_train

,neighbourhood_group,room_type,minimum_nights,calculated_host_listings_count,availability_365
30406,2,2,5,1,0
39278,1,2,4,1,7
46726,1,3,30,1,66
7068,3,2,3,2,7
3099,1,3,1,1,0
...,...,...,...,...,...
21243,3,3,1,1,317
45891,1,3,30,23,343
42613,2,2,2,1,0
43567,2,3,2,1,127
2732,1,3,3,1,256

In [11]:
inputt=[int(x) for x in "2 2 5 1 0".split(' ')]
final=[np.array(inputt)]

In [12]:
final

[array([2, 2, 5, 1, 0])]

In [43]:
b = log_reg.predict(final)

In [44]:
b

array([72.76813862])

In [46]:
pickle.dump(log_reg,open('model1.pkl','wb'))
model=pickle.load(open('model1.pkl','rb'))